@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

.main {
  background-color: rgb(255, 255, 255);
  height: 6vh;
  min-height: 75px;
  width: 100%;
  z-index: 1;
  top: 0;
  position: fixed;
  border-bottom-color: black;
  border-bottom: solid black;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  display: flex;
}
.linje {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-content: center;
  font-family: "DM Serif Text", serif;
  float: left;
  margin: 10px;
}
.liste {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.33333%;
}
.logo_svg {
  max-height: 100%;
}
.logo_path {
  height: 100%;
}
.tredje_nav {
  width: 50%;
  height: 100%;
}

.test {
  z-index: 1;
  width: auto; /* Juster bredden dynamisk basert på innhold */
  padding: 5px 5px; /* Juster padding for å redusere avstanden */
  font-size: 16px;
  margin-top: 0;
  margin: 0 10px;
  transition: transform 0.3s;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

.test:hover {
  transform: scale(1.1);
}

body {
  margin: 0;
  overflow-x: hidden;
}

.scrollable-grid {
  width: 100%;
  white-space: nowrap;
  padding: 40px;
  margin: 0%;
  overflow-x: auto;
  padding-left: 100px;
  padding-top: 75px;
}

.scrollable-grid .grid {
  display: inline-block;
  width: 170px;
  height: 200px;
  margin: 10px;
}

.grid img {
  max-width: 110%;
  max-height: 120%;
  width: 200px;
  height: 600px;
  border-radius: 8px;
}

.scrollable-grid::-webkit-scrollbar {
  display: none; /* For Webkit (Chrome, Safari) based browsers */
}

.bruh {
  height: 40px;
  width: 40px;
}

.tredje_nav span {
  float: right;
  align-content: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  margin-top: 20px;
  padding-right: 20px;
}

.material-symbols-outlined:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bilder {
  padding: 50px;
  padding-bottom: 0px;
  padding-top: 0;
  width: 100%;
  height: 400px;
  margin: 100px;
  background-color: bisque;
  z-index: 1;
  display: flex;
  justify-content: center; /* Center content horizontally */
}

.fronttittel {
  text-align: center;
  padding-top: 100px;
}
/* Your existing CSS content */

.title {
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}

.section-title {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-family: "Bitter", serif;
  padding-top: 70px;
}

h1 {
  font-family: "Bitter", serif;
}

.Kontakt {
  float: center;
  border-radius: 2px;
  width: 180px;
  height: 40px;
  border: 2px solid black; /* Add or adjust the border width */
  transition: background-color 0.3s;
}
.Kontakt:hover {
  background-color: rgb(74, 68, 68);
}

.Kontakt h1 {
  margin: 0;
}
